.neonText {
    font-size: 40px;
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
  }


/* Additional styling */ 
  
h1 {
    padding-top: 20px;
    padding-left: 20px;
    font-family: "eater";
}

.pulsate {
     animation: pulsate 1.5s infinite alternate;     
}

@keyframes pulsate {
    
  100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  
  }
  
  0% {

    text-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 10px #0fa,
    0 0 45px #0fa,
    0 0 55px #0fa,
    0 0 70px #0fa,
    0 0 80px #0fa;

}
}

h2 {
    font-size: 10px;
}

h4 {
    font-size: 30px;
}

.nav-bar-container {
    text-align: left;
    background: #010a01

    
}

.nav-bar-link {
    text-decoration: none;
    display: inline;
    padding: 20px;
    font-size: 12px;
    font-family: "roboto slab";
    color: white;
    transition: all 0.5s ease;
}

.nav-bar-link.hover {
    text-decoration: none;
    display: inline;
    padding: 20px;
    font-size: 12px;
    font-family: "roboto slab";
    color: rgb(87, 2, 87);
}

.login-signup-form-container {
    padding: 20px;
    display: block;
    align-items: left;
}

.login-signup-form {
    font-size: 13px;
    padding-left: 15px;
    align-items: left;
    background: rgb(224, 224, 224);
    justify-content: left;
    width: 270px;
    height: 30px;
    display: block;
    margin-bottom: 1%;
    border: none;
    box-sizing: border-box;
}

.login-signup-button {
    text-decoration: none;
    font-size: 13px;
    background: rgb(224, 224, 224);
    justify-content: left;
    width: 270px;
    height: 30px;
    display: block;
    border: none;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

.login-signup-button.hover {
    text-decoration: none;
    font-size: 13px;
    color: white;
    background: #010a01;
    justify-content: left;
    width: 270px;
    height: 30px;
    display: block;
    border: none;
    box-sizing: border-box;
}

.logout-btn {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    font-size: 12px;
    font-family: "roboto slab";
    color: white;
}
.profile-bar-container {
    margin-top: 40px;
    margin-right: 10px;
}

.profile-bar-wrapper {
    margin: 15px;
}

.profile-name {
    font-size: 18px;
    display:inline;
    font-family: "roboto slab";
    text-transform: uppercase;
}
.thumbnail {
    margin-right: 10px;
    width: 30px;
    height: auto;
    border-radius: 50%;
    display:inline;
}

.profile-bar-button {
    font-size: 18px;
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    font-family: "roboto slab";
}

.profile-bar-button-2 {
    font-size: 14px;
    background:none;
    border:none;
    margin-left: 43px;
    padding:0;
    cursor: pointer;
    font-family: "roboto slab";
}

.remove-button {
    font-size: 10px;
    background:none;
    border:none;
    margin-left:10px;
    padding:0;
    cursor: pointer;
    font-family: "roboto slab";
}

.create-story-container {
    margin-left: 50px;
}

.main-character-input {
    padding-left: 15px;
    align-items: left;
    background: none;
    justify-content: left;
    width: 270px;
    height: 30px;
    display: block;
    margin-bottom: 1%;
    border: black solid 3px;
    border-radius: 15px;
    box-sizing: border-box;
}

body {
    background-color:  #262626 ;
}

.story-container {
    margin-left: 300px;
    margin-top: 2px;
}

p {
    font-family: "roboto slab";
    font-size: 14px;
}

.story-container-2 {
    
}