/* h1 {
    font-size: 30px;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #0e3742;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}
@keyframes animate 
{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #ffff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 1600px #03bcf4,
    }
} */

h2 {
    font-size: 20px
}

.nav-bar-container {
    text-align: left;
    background: #07252d
}

.nav-bar-link {
    text-decoration: none;
    display: inline;
    padding: 8px;
}

.login-signup-form-container {
    display: block;
    align-items: left;
}

.login-signup-form {
    padding-left: 15px;
    align-items: left;
    background: none;
    justify-content: left;
    width: 270px;
    height: 30px;
    display: block;
    margin-bottom: 1%;
    border: black solid 3px;
    border-radius: 15px;
    box-sizing: border-box;
}

.login-signup-button {
    text-decoration: none;
    font-family: "Raleway";
    background: gray;
    justify-content: left;
    width: 270px;
    height: 30px;
    display: block;
    border: black solid 3px;
    border-radius: 15px;
    box-sizing: border-box;
}

.logout-btn {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}